<h1>Name: </h1>
Yian Liou
<br/>
<h1>Year </h1>
Junior
<br/>
<h1>Fun Fact</h1>
I have played some of the top US junior chess players in high school
<br />
<h1>Exciting part of class</h1>
Most excited to learn more about ruby and the components of web development like MVC and see how everything interacts together
<br />